Question 1

In [1]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print("Sorted ages:", ages)
min_age = ages[0]
max_age = ages[-1]
print("Min age:", min_age)
print("Max age:", max_age)
ages.append(min_age)
ages.append(max_age)
print("Ages after adding min and max again:", ages)
ages.sort()
n = len(ages)

if n % 2 == 0:
    median_age = (ages[n//2 - 1] + ages[n//2]) / 2
else:
    median_age = ages[n//2]
print("Median age:", median_age)
average_age = sum(ages) / n
print("Average age:", average_age)
age_range = max_age - min_age
print("Range of ages:", age_range)

Sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min age: 19
Max age: 26
Ages after adding min and max again: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median age: 24.0
Average age: 22.75
Range of ages: 7

Question 2

In [3]:
dog = {}
dog['name'] = 'Buddy'
dog['color'] = 'Brown'
dog['breed'] = 'Golden Retriever'
dog['legs'] = 4
dog['age'] = 5
print('key value pairs of dog dictonary', dog)
student = {'first_name': 'GOPI','last_name': 'Vengala','gender': 'Male','age': 21,'marital_status': 'Single',
        'skills': ['Python', 'Data Visualization'],'country': 'India','city': 'Guntur','address': '8-800 19th st'}
print("\nStudent dictionary:", student)
print('Length of student dictionary:', len(student))
print('Value of skills in student dictionary',student['skills'])
print('type of value of skills in student:',type(student['skills']))
student['skills'].append('HTML')
student['skills'].append('javascript')
print('values of skills in student:\n',student['skills'])
x=list(student.keys())
#x is the list of keys in student
print('keys of dictionary student in lists:\n',x,'type=',type(x))
y=list(dog.keys())
#y is the list of keys in dog
print('keys of dictionary dog in lists:\n',y,'type=',type(y))
m=list(student.values())
#m is the list of values in student
print('values of dictionary student in lists:\n',m,'type=',type(m))
n=list(dog.values())
#n is the list of values in dog
print('values of dictionary dog in lists:\n',n,'type=',type(n))

key value pairs of dog dictonary {'name': 'Buddy', 'color': 'Brown', 'breed': 'Golden Retriever', 'legs': 4, 'age': 5}

Student dictionary: {'first_name': 'GOPI', 'last_name': 'Vengala', 'gender': 'Male', 'age': 21, 'marital_status': 'Single', 'skills': ['Python', 'Data Visualization'], 'country': 'India', 'city': 'Guntur', 'address': '8-800 19th st'}
Length of student dictionary: 9
Value of skills in student dictionary ['Python', 'Data Visualization']
type of value of skills in student: <class 'list'>
values of skills in student:
 ['Python', 'Data Visualization', 'HTML', 'javascript']
keys of dictionary student in lists:
 ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address'] type= <class 'list'>
keys of dictionary dog in lists:
 ['name', 'color', 'breed', 'legs', 'age'] type= <class 'list'>
values of dictionary student in lists:
 ['GOPI', 'Vengala', 'Male', 21, 'Single', ['Python', 'Data Visualization', 'HTML', 'javascript'], 'India', 'Guntur', '8-800 19th st'] type= <class 'list'>
values of dictionary dog in lists:
 ['Buddy', 'Brown', 'Golden Retriever', 4, 5] type= <class 'list'>

Question 3

In [4]:
sisters = ('Keerthi', 'manasa', 'shalini')
print('sisters:',sisters)
brothers = ('Hemanth', 'Prudhvi', 'Nagi')
print('brothers:',brothers)
siblings = sisters + brothers
print("Siblings tuple:", siblings)
print('number of siblings:',len(siblings))
siblings=list(siblings)
siblings.append('Sreeramulu')
#my father name is Sreeramulu
siblings.append('Lakshmi')
#my mother name is Lakshmi
familymembers=tuple(siblings)
print("family members:", familymembers)

sisters: ('Keerthi', 'manasa', 'shalini')
brothers: ('Hemanth', 'Prudhvi', 'Nagi')
Siblings tuple: ('Keerthi', 'manasa', 'shalini', 'Hemanth', 'Prudhvi', 'Nagi')
number of siblings: 6
family members: ('Keerthi', 'manasa', 'shalini', 'Hemanth', 'Prudhvi', 'Nagi', 'Sreeramulu', 'Lakshmi')

Question 4

In [11]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print('length of set it_companies:',len(it_companies))
it_companies.add('Twitter')
print(it_companies)
it_companies.update(['Tesla', 'Instagram'])
print(it_companies)
it_companies.remove('IBM')
print(it_companies)
#Difference between discard and remove
it_companies.discard('IBM')
it_companies.discard('Oracle')
print(it_companies)
#discard and remove both are used to remove value in a set and the difference betweendiscard and remove is discard does not give error
#when the value is not present where as remove gives error
C=A.union(B)
print('Joining of A and B',C)
D=A.intersection(B)
print('Intersection of A and B',D)
print('is A subset of B',A.issubset(B))
print('Are A and B disjoint sets:',A.isdisjoint(B))
A.update(B)
print('joining A with B',A)
B.update(A)
print('Joining B with A',B)
print('#set() value output represent empty or null value')
A_symmetric_difference_B = A.symmetric_difference(B)
print("Symmetric difference between A and B:", A_symmetric_difference_B)
A.clear()
B.clear()
print('After deletion of all the values in the sets A,B, it_companies',A,B,it_companies)
#set() value output represent empty or null value
l1=len(age)
print('length of list age:',l1)
#l1 is length of the list age
l2=len(set(age))
print('length of set age:',l2)
#12 is length of the set age
print('Length of the set is 5 because a set doesnot have any duplicate entries and list can have duplicate values so its length is 8')

length of set it_companies: 7
{'Microsoft', 'Twitter', 'Apple', 'Facebook', 'Oracle', 'Google', 'Amazon', 'IBM'}
{'Amazon', 'IBM', 'Oracle', 'Apple', 'Google', 'Microsoft', 'Instagram', 'Twitter', 'Tesla', 'Facebook'}
{'Amazon', 'Oracle', 'Apple', 'Google', 'Microsoft', 'Instagram', 'Twitter', 'Tesla', 'Facebook'}
{'Amazon', 'Apple', 'Google', 'Microsoft', 'Instagram', 'Twitter', 'Tesla', 'Facebook'}
Joining of A and B {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B {19, 20, 22, 24, 25, 26}
is A subset of B True
Are A and B disjoint sets: False
joining A with B {19, 20, 22, 24, 25, 26, 27, 28}
Joining B with A {19, 20, 22, 24, 25, 26, 27, 28}
#set() value output represent empty or null value
Symmetric difference between A and B: set()
After deletion of all the values in the sets A,B, it_companies set() set() {'Amazon', 'Apple', 'Google', 'Microsoft', 'Instagram', 'Twitter', 'Tesla', 'Facebook'}
length of list age: 8
length of set age: 5
Length of the set is 5 because a set doesnot have any duplicate entries and list can have duplicate values so its length is 8

Question 5

In [13]:
radius=float(30)
_area_of_circle=((22/7)*radius*radius)
print('area of circle is:',_area_of_circle)
_circum_of_circle=2*(22/7)*radius
print('circumference of th circle is:',_circum_of_circle)
#Calculating area with input radius
print('Taking radius as input from user ')
radii=float(input('Enter radius of a circle:'))
area=((22/7)*radii*radii)
print('area of circle with user inputed radius is: ',area)

area of circle is: 2828.5714285714284
circumference of th circle is: 188.57142857142856
Taking radius as input from user
Enter radius of a circle:30
area of circle with user inputed radius is:  2828.5714285714284

Question 6

In [14]:
inp='I am a teacher and I love to inspire and teach people'
#inp is the given string
words=inp.split(' ')
#splitting the words and adding them into words list
print(words)
uniq=set(words)
#sets does not allow data duplicates
print(uniq)
print('length of the unique words in the given sentence is: ',len(uniq))

['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people']
{'teacher', 'inspire', 'love', 'am', 'I', 'to', 'a', 'people', 'and', 'teach'}
length of the unique words in the given sentence is:  10

Question 7

In [15]:
print('Name\tAge\tCountry\tCity')

print('Asabeneh\t250\tFinland\tHelsinki')

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

Question 8

In [16]:
radius=float(10)
area=(3.14)*radius**2
string='The area of the circle with radius {0} is {1} meters square'.format(radius, area)
#using string formating printing out the area of the circle
print(string)

The area of the circle with radius 10.0 is 314.0 meters square

Question 9

In [17]:
N=int(input('Number of students:'))
lbs=[]
print('Enter weights in lbs:\t')
for i in range(N):
  lbs.append(float(input()))
print('Weights of students in lbs:\t',lbs)
kilos=[]
for i in lbs:
  kilos.append(round(float(i)*(0.45359237),3))
print('Weights of the students in kilos:',kilos)

Number of students:4
Enter weights in lbs:
150
155
145
148
Weights of students in lbs:	 [150.0, 155.0, 145.0, 148.0]
Weights of the students in kilos: [68.039, 70.307, 65.771, 67.132]